* {
  /* font-family: var(--font-inter); */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme{
  transition: 1s all ease;
}

.ligth{
  background-color: #F5F5F5;
  color: black;
}

.dark{
  background-color: black;
  color: #F5F5F5;
}

.container {
  /* max-width: 1366; */
  max-width: 1280;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
