.container {
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  
  position: relative;

  background-color: #000000;
  color: white;
  padding: 0 60px;
  padding-bottom: 60px;
}

.logo {
  font-weight: 700;
  font-size: 36px;
  margin: 0 auto;
  padding: 20px 0;
}

.line{
  display: block;
  position: absolute;
  top: 90px;
  width: 90%;
  height: 1px;
  background-color: white;
}

.icon {
  margin: 0 10px;
}

.textContainer{
  display: flex;
  gap: 60px;
  /* font-family: var(--font-poppins); */
  /* font-weight: 400; */
}

.textTitle{
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
}

.textItem{
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
}

.wrapper{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
}

.reachUsContainer, .companyContainer, .legalContainer, 
.quickContainer, .joinContainer {
  display: flex;
  flex-direction: column;
}

.reachUsContainer{
  width: 300px;
}

.joinContainer{
  gap: 16px;
  padding: 0 12px;

  max-width: 300px;
  width: 100%;
  border-radius: 10%;
  background-color: #131313;
}

.textInputWrapper{
  border-radius: 4%;
}

.textInput{
  width: 10rem;
  height: 2.4rem;

  background-color: #1E1E1E;
  color: white;
  border: none;

  padding: 10px;
}

.textInputBtn{
  width: 7rem;
  height: 2.4rem;

  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;

  padding: 10px;
}

.textJoin{
  font-size: 13px;
  opacity: 0.6;
}

@media only screen and (max-width: 1200px) {
  .textInput{
    width: 100%;
  }

  .textInputBtn{
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .textContainer{
    flex-wrap: wrap;
  }

  .companyContainer, .quickContainer{
    align-items: flex-end;
  }

  .joinContainer{
    max-width: 400px;
    margin: 0 auto;
  }

  .wrapper{
    justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  .container{
    padding: 20px;
  }

  .reachUsContainer, .companyContainer, .legalContainer, 
  .quickContainer {
    width: 50%;
  }

  .companyContainer, .quickContainer{
    align-items: flex-end;
  }

  .textContainer{
    gap: 30px;
  }

  .wrapper{
    justify-content: space-between;
  }
}

@media only screen and (max-width: 480px) {
  .container{
    gap: 20px;
  }

  .wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .reachUsContainer, .companyContainer, .legalContainer, 
  .quickContainer {
    align-items: center;
    gap: 10px;
  }
}
